.sideBar{
    height: 100vh;
}

.menus{
    margin-top:0.5rem;
}

.BrandName{
    margin : 0.5rem;
    display: flex;
    flex-direction: row;
}

.pro-sidebar.collapsed {
    width: 5rem;
    min-width: 10px;
}
.toggle{
    margin-left: auto;
    padding:3px;
    padding-bottom: 1px;
    border: 1px solid white;
    border-radius: 4px;

}