.sideBar{
    height: auto;
    /* min-width: 20px; */
}

.menus{
    margin-top:0.5rem;
}

.BrandName{
    margin : 0.5rem;
    display: flex;
    flex-direction: row;
}

.companyName{
    margin-top: 2px;
    margin-right: 3px;
}

.pro-sidebar.collapsed {
    width: 5rem;
    min-width: 30px;
}
.toggle{
    margin-left: auto;
    padding:3px;
    padding-bottom: 1px;
    border: 1px solid white;
    border-radius: 4px;

}